{{!-- <div class="d-flex flex-column">
  <label for="email-login">email:</label>
  <div class="col">
    <input type="text" id="email-login" />
  </div>
  <label for="password-login">password:</label>
  <div class="col">
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</div> --}}

<div class="card m-4">
  <div class="card-body color2 tcolor1">
    <h5>Email</h5>
    <input type="text">
    <h5>Password</h5>
    <input type="text">
    <button class="color1 tcolor2 font-weight-bold">Login</button>
  <a href="/signup">Or signup here!</a>

  </div>
</div>