.color1 {
  background-color: rgba(217, 234, 211, 255);
}

.color2 {
  background-color: rgba(35, 16, 16, 255);
}

.tcolor1 {
  color: rgba(217, 234, 211, 255);
}

.tcolor2 {
  color: rgba(35, 16, 16, 255);
}

.mybtn {
  font-size: 24px;
  font-weight: bold;
  border: solid 2px rgba(35, 16, 16, 255);
}